@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:ital,wght@0,400;1,500&display=swap');

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    color: #005634;
    
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 100;
    font-size: 14px;
}

.logo {
    text-align: right;
    padding-right: 250px;
    padding-left: 10px;
    font-size: 20px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 20px;
    border-radius: 2rem;
    background-color: #1c1a19; 
}
