@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:ital,wght@0,400;1,500&display=swap');

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    color: #005634;
    
}

body {
    font-family: 'Playfair Display', serif, 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #4b2e24;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 100;
    font-size: 14px;
}

.logo {
    text-align: right;
    padding-right: 250px;
    padding-left: 10px;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 20px;
    border-radius: 2rem;
    background-color: #1c1a19; 
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #fff; /* Kulay ng text */
}

.nav-icon {
    padding-left: 250px;
    padding-right: 10px;
    align-items: right;
    display: flex;
    gap: 15px;
    font-size: 20px;
}
.logo img {
    max-width: 125px;
    color: white;
}

.Logo1 img {
    max-width: 250px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #7e685b;
}

.hero {
    text-align: left;
    padding: 150px 200px;
    background-image: url('bg.jpg');
    background-size: cover;
    color: white;
}

.hero h1 {
    font-size: 75px;
    margin-bottom: 20px;
}
.hero h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Poppins', sans-serif;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00704a;
    color: #f5f5f5;
    text-decoration: none;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
}

.cta-button i {
    margin-left: 10px;
}

.cta-button:hover {
    background-color: #005634;
}
menu {
    padding: 100px 0;
    text-align: center;
    background-color: #f5f5f5;
}

.menu h2 {
    font-size: 40px;
    margin-bottom: 10px;
}


.menu p {
    color: #4b2e24;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}

.product-content {
    display: grid;
    grid-template-columns: 550px 550px 550px;
    gap: 5rem; /* Adjust this value to control the spacing between columns */
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
    border-radius: 1.5rem;
    margin-left: 200px;
    column-gap: 1px;
}

.product-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* You can adjust the width to fit your design */
    width: 60%; /* Set to 100% to ensure it fits within the grid column */
    position: relative;
}

.product-box p {
    text-align: justify;
    font-size: 15px;
}

.product-box .fa-heart {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 8px;
    background: #ede4d6;
    color: var(--second-color);
    border-radius: 50%;
}

.product-box img {
    margin-top: 1.5rem;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.product-info span {
    font-size: 22px;
}

.product-info .fa-cart-shopping {
    padding: 8px;
    background-color: #ede4d6;
    color: #4c3c32;
    border-radius: 50%;
    cursor: pointer;
}

.product-info .fa-cart-shopping:hover {
    background-color: whitesmoke;
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.team {
    padding: 100px 0;
    text-align: center;
    background-color: #f5f5f5;
}

.team h2 {
    font-size: 40px;
    margin-bottom: 10px;
}


.team p {
    color: #4b2e24;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}

.team-member {
    display: grid;
    grid-template-columns: 550px 550px 550px;
    gap: 5rem; /* Adjust this value to control the spacing between columns */
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
    border-radius: 1.5rem;
    margin-left: 200px;
    column-gap: 1px;
}

.team-info {
    background: #ffffff;
    padding: 20px;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* You can adjust the width to fit your design */
    width: 60%; /* Set to 100% to ensure it fits within the grid column */
    position: relative;
}

.team-info p {
    text-align: justify;
    font-size: 15px;
}

.team-info img {
    margin-top: 1.5rem;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ede4d6;
}

.main-img img {
    max-width: 100%;
    width: 560px;
    height: auto;
    padding-left: 250px;
    padding-top: 60px;
}

.abouts h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: justify;
    align-items: flex-start;
}

.abouts p {
    font-size: 18px;
    max-width: 800px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    padding-right: 190px;
    padding-bottom: 20px;
}

.team-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00704a;
    color: #f5f5f5;
    text-decoration: none;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    margin-left: 610px;
 
}

.team-button i {
    margin-left: 10px; /* Adjust the margin to your preference */
}

.team-button:hover {
    background-color: #005634;
}

.contact {
    padding: 100px 0;
    text-align: center;
    background-color: #f5f5f5;
    color: #4b2e24;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact p {
    color: #4b2e24;
    font-size: 18px;
    margin-bottom: 40px;
}

footer {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: 4b2e24;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quick-links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.quick-links a:hover {
    color: #5a3a29;
}

.social-media a {
    font-size: 20px;
    color: #5a3a29;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #cca700;
}